language: go
go_import_path: github.com/ethereum/go-ethereum
jobs:
  include:
    # This builder only tests code linters on latest version of Go
    - stage: lint
      os: linux
      dist: focal
      arch: ppc64le
      group: edge
      go: 1.15.x
      env:
        - lint
      git:
        submodules: false # avoid cloning ethereum/tests
      script:
        #- go run hello_world.go lint
        - /opt/at14.0/bin/gccgo hello_world.go -o hello_world
        - go run hello_world.go lint
    - stage: lint
      os: linux
      dist: focal
      arch: amd64
      group: edge
      go: 1.15.x
      env:
        - lint
      #git:
        #submodules: false # avoid cloning ethereum/tests
      script:
        - go run hello_world.go lint
    - stage: lint
      os: linux
      dist: bionic
      arch: ppc64le
      group: edge
      go: 1.15.x
      env:
        - lint
      git:
        submodules: false # avoid cloning ethereum/tests
      script:
        #- go run hello_world.go lint
        - /opt/at14.0/bin/gccgo hello_world.go -o hello_world
        - go run hello_world.go lint
    - stage: lint
      os: linux
      dist: bionic
      arch: amd64
      group: edge
      go: 1.15.x
      env:
        - lint
      #git:
        #submodules: false # avoid cloning ethereum/tests
      script:
        - go run hello_world.go lint
    - stage: lint
      os: linux
      dist: xenial
      arch: ppc64le
      group: edge
      go: 1.15.x
      env:
        - lint
      git:
        submodules: false # avoid cloning ethereum/tests
      script:
        #- go run hello_world.go lint
        - /opt/at12.0/bin/gccgo hello_world.go -o hello_world
        - go run hello_world.go lint
    - stage: lint
      os: linux
      dist: xenial
      arch: amd64
      group: edge
      go: 1.15.x
      env:
        - lint
      #git:
        #submodules: false # avoid cloning ethereum/tests
      script:
        - go run hello_world.go lint

